.descGallery {
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.descGallery2 {
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.descGallery3 {
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.contentBlog {
    font-weight: 450;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.contentBlog2 {
    font-weight: 450;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.contentBlog3 {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.msg {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.faq {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.titleBlog {
    margin-bottom: 10px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.titleBlog2 {
    height: 68px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.titleBlog3 {
    height: 68px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.answerFAQ {
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}